#banner
  .banner_content
    %h1 NoteNote
    %p Your Online Notebook. Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greatest notebook application. Period."
    %p.name - Danny Wu

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Pop-up listicle Portland swag hashtag. Cred forage salvia, locavore heirloom Tumblr banh mi literally tofu lo-fi food truck stumptown flannel kitsch next level. Intelligentsia Wes Anderson before they sold out shabby chic kogi, semiotics
      .callout
        %h2 Notes
        %p Pop-up listicle Portland swag hashtag. Cred forage salvia, locavore heirloom Tumblr banh mi literally tofu lo-fi food truck stumptown flannel kitsch next level. Intelligentsia Wes Anderson before they sold out shabby chic kogi, semiotics 
      .callout
        %h2 Notes
        %p Pop-up listicle Portland swag hashtag. Cred forage salvia, locavore heirloom Tumblr banh mi literally tofu lo-fi food truck stumptown flannel kitsch next level. Intelligentsia Wes Anderson before they sold out shabby chic kogi, semiotics

#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up... If you don't, I will find you! 
    %button= link_to "Click Meee!!!", new_user_registration_path

%footer
  %p &copy; Danny Wu
